@model ContactFormViewModel;

<section class="contact-form">
    <div class="container">
        <div class="title">Write something</div>

        <form asp-action="Index" asp-controller="Contact" method="post" novalidate>
            <div asp-validation-summary="ModelOnly"></div>

            <div class="name form-group">
                <label asp-for="Name">Your Name*</label>
                <input asp-for="Name" type="text" required onkeyup="validateText(event)">
                <span asp-validation-for="Name"></span>
            </div>
            <div class="email form-group">
                <label asp-for="Email">Your Email*</label>
                <input asp-for="Email" type="text" required onkeyup="validateText(event)">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="phoneNumber form-group">
                <label asp-for="PhoneNumber">Your Phonenumber*</label>
                <input asp-for="PhoneNumber" type="text" required onkeyup="validateText(event)">
                <span asp-validation-for="PhoneNumber"></span>
            </div>
            <div class="companyName form-group">
                <label asp-for="Company">Your Company(Optional)</label>
                <input asp-for="Company" type="text" onkeyup="validateText(event)">
                <span asp-validation-for="Company"></span>
            </div>
            <div class="message form-group">
                <label asp-for="Message">Your Message*</label>
                <textarea asp-for="Message" type="text" required onkeyup="validateText(event)"></textarea>
                <span asp-validation-for="Message"></span>
            </div>
            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    Save my name, email in the this browser for the next time I comment.
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>
            <button class="btn-theme" type="submit">Submit</button>
        </form>
    </div>
</section>