<div class="register">
    <div class="container">
        <div class="registerbody">
            <form class="registerform">
                <h2 class="title">Please Register Your new Account</h2>
                <div class="line">
                    <hr>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="firstname">First Name:</label>
                        <input type="text" id="firstname" name="firstname" required>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last Name:</label>
                        <input type="text" id="lastname" name="lastname" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="streetname" style="width: 1040px;">Streetname</label>
                        <input type="text" id="streetname" name="streetname" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="postalcode">Postal Code</label>
                        <input type="text" id="postalcode" name="postalcode">
                    </div>
                    <div class="form-group">
                        <label for="city">City:</label>
                        <input type="text" id="city" name="city">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="phone">Phone Number:</label>
                        <input type="tel" id="phone" name="phone">
                    </div>
                    <div class="form-group">
                        <label for="company">Company:</label>
                        <input type="text" id="company" name="company">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="email" style="width: 1040px;">Email</label>
                        <input type="text" id="email" name="email" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="password" style="width: 1040px;">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="confirmpassword" style="width: 1040px;">Confirm Password</label>
                        <input type="password" id="confirmpassword" name="confirmpassword" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="picture" style="width: 1040px;">Upload Profile Image</label>
                        <input type="text" id="picture" name="picture" required>
                    </div>
                </div>
                <div class="infobox">
                    <input type="checkbox" style="height: 10px;margin-left: 10px;" id="save-info" name="save-info">
                    <label for="save-info">I have read and accepts the terms and agreements</label>

                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>