@model RegisterViewModel

<div class="registersection">
    <div class="container">
        <div class="registerbody">
            <form asp-action="Index" asp-controller="Register" method="post" class="registerform" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h2 class="title">Please Register Your new Account</h2>
                <div class="line">
                    <hr>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label asp-for="FirstName">First Name* <span asp-validation-for="FirstName"></span></label>
                        <input asp-for="FirstName" onkeyup="validateText(event)" />
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName">Last Name* <span asp-validation-for="LastName"></span></label>
                        <input asp-for="LastName" onkeyup="validateText(event)" />

                    </div>
                </div>
                <div class="form-one-row">
                    <div class="form-group">
                        <label asp-for="StreetName">Street Name* <span asp-validation-for="StreetName"></span></label>
                        <input asp-for="StreetName" onkeyup="validateText(event)" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label asp-for="PostalCode">Postal Code* <span asp-validation-for="PostalCode"></span> </label>
                        <input asp-for="PostalCode" onkeyup="validateText(event)" />
                    </div>
                    <div class="form-group">
                        <label asp-for="City">City* <span asp-validation-for="City"></span></label>
                        <input asp-for="City" onkeyup="validateText(event)" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label asp-for="PhoneNumber">Phonenumber*  <span asp-validation-for="PhoneNumber"></span> </label>
                        <input asp-for="PhoneNumber" onkeyup="validateText(event)" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Company">Company (optinal)</label>
                        <input asp-for="Company" onkeyup="validateText(event)" />
                    </div>
                </div>
                <div class="form-one-row">
                    <div class="form-group">
                        <label asp-for="Email">Email* <span asp-validation-for="Email"></span></label>
                        <input asp-for="Email" onkeyup="validateEmail(event)" />

                    </div>
                </div>
                <div class="form-one-row">
                    <div class="form-group">
                        <label asp-for="Password">Password* <span asp-validation-for="Password"></span></label>
                        <input asp-for="Password" onkeyup="validatePassword(event)" />
                    </div>
                </div>
                <div class="form-one-row">
                    <div class="form-group">
                        <label asp-for="ConfirmPassword">Confirm Password* <span asp-validation-for="ConfirmPassword"></span></label>
                        <input asp-for="ConfirmPassword" onkeyup="validatePassword(event)" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="picture" style="width: 1040px;">Upload Profile Image</label>
                        <input type="text" id="picture" name="picture" required>
                    </div>
                </div>
                <div class="infobox">
                    <input type="checkbox" style="height: 10px;margin-left: 10px;" id="save-info" name="save-info">
                    <label for="save-info">I have read and accepts the terms and agreements</label>

                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>