@using Inlamningsuppgift_6.Helpers.Repositories;
@using Inlamningsuppgift_6.Helpers.Services;
@using Inlamningsuppgift_6.Models.Entities;
@inject ProductCategoryEntity _productCategoryEntity;
@inject ProductRepo productRepo;
@{
    var products = await productRepo.GetAsync();
    var temp = products.Where(x => x.ProductCategories.Any(x => x.CategoryId == 2)).Take(10);
    var _discountProducts = temp.TakeLast(2);
    var _firstProduct = _discountProducts.First();
    var _secondProduct = _discountProducts.Last();
}

<section class="up-to-sell">
    <div class="container">
        <div class="collection-grid">
            <div class="item-1">
                <partial name="_CollectionItem.cshtml" model="_firstProduct" />
            </div>
            <div class="discover">
                <div class="collection-content">
                    <div class="container">
                        <div class="title-red">UP TO SELL</div>
                        <div class="title">50% OFF</div>
                        <div class="ingress">Get The Best Price</div>
                        <div class="text">Get the best daily offer et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren no sea taki</div>
                        <a href="#" class="link">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="item-2">
                <partial name="_CollectionItem.cshtml" model="_secondProduct" />
            </div>

        </div>
    </div>
</section>