@using Inlamningsuppgift_6.Helpers.Repositories;
@inject CollectionItemViewModel _model;
@inject ProductRepo productRepo;

@{
    var products = await productRepo.GetAsync(); 
}
<div class="container mt-40">
    <h1>ALL PRODUCTS</h1>
    <div class="row row-cols-4 m-20">
            @foreach (var product in products)
            {
            <partial name="~/Views/Partials/_CollectionItem.cshtml" model="product" />
            }
   </div> 
</div>
