@inject ProductRepo productRepo;
@model int;

@{
    var products = await productRepo.GetAsync();
    var product = products.FirstOrDefault(x => x.Id == Model);
}

<div style="height: 80px;"></div>
<partial name="/Views/Partials/_Banner.cshtml" />
<partial name="/Views/Partials/_ProductDetails.cshtml" model="product"  />