@import '../core/_colors.scss';
@import '../core/_fonts.scss';
@import '../core/_mixins.scss';

.best-collection {
    padding: 40px 20px;

    .collection-title {
        text-align: center;
        font-family: $font-poppins;
        font-weight: $font-weight-semibold;
        font-size: 38px;
        color: $color-dark-2;

        @include md {
            font-size: 48px;
        }
    }

    .categories {
        display: none;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;

        @include lg {
            display: flex;
        }

        .category-item {
            margin-right: 5px;

            & + li::before {
                content: "/";
                margin-right: 5px;
            }
        }
    }

    .collection-grid {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;

        .collection-item {
            background-color: $color-white;
            text-decoration: none;
            display: block;

            img {
                width: 270px;
                height: 295px;
            }

            .body {
                color: $color-dark-2;
                font-family: $font-poppins;
                padding: 10px;

                .title {
                    grid-area: title;
                    font-size: 18px;
                    font-family: $font-poppins;
                    font-weight: $font-weight-medium;
                }

                .info {
                    font-family: $font-poppins;
                    padding: 2px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 40px;

                    .price {
                        grid-area: price;
                        font-size: 16px;
                        align-items: center;
                    }

                    .add-cart {
                        grid-area: cart;
                        text-align: right;
                        align-items: center;
                        padding: 2px;
                        font-size: 24px;
                        color: $color-dark-2;

                        &:hover {
                            color: $color-dark-4;
                        }
                    }
                }
            }

            &:hover {
                text-decoration: none;
            }
        }



        @include md {
            grid-template-columns: repeat(2, 1fr);
        }

        @include lg {
            grid-template-columns: repeat(3, 1fr);
        }

        @include xl {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .load-more {
        margin-top: 40px;
        text-align: center;
    }
}
